@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

/*-----------------------------------------*/
/*-------------Navbar Style----------------*/
/*-----------------------------------------*/

.container .nav-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #285d9212;
    box-shadow: 0px 5px 10px rgb(0 0 0 /15%);


    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #FFFFFF;
}


.container a,
.container i {
    cursor: pointer;
}

.container .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-inline-start: 20px;
}

.container .logo i {
    font-size: 22px;
}

.container .logo img {
    height: 40px;
}



/*--------------------------------------*/
.container .search {
    text-align: center;
    align-items: center;
}

.container .search form {
    width: 350px;
    position: relative;
}

.container .search form input {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    background-color: #f0ebfc;
    border: 1px solid transparent;
    outline: 0;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 6px 6px 6px 50px;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

.container .search form input:focus {
    box-shadow: 1px 1px 10px #285d92;
    border-color: #285d92;
}

.container .search form span {
    position: absolute;
    top: 7px;
    left: 15px;
}

.container .search form span i {
    color: rgb(110, 109, 108);
}

/*--------------------------------------*/
.container .user .inner {
    padding-inline-end: 20px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

.container .user .notification a {
    position: relative;
}

.container .user .notification a i {
    font-size: 25px;
    color: rgb(147, 147, 147);
}

.container .user .notification a span {
    font-size: 10px;
    background-color: #f50057;
    padding: 3px;
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    position: absolute;
    top: -10px;
    right: -8px;
}

.container .user .user-area figure {
    overflow: hidden;
}

.container .user .user-area a {
    display: flex;
    align-items: center;
    gap: 12px;
    color: rgb(28, 28, 28);
    font-size: 16px;
}

.container .user .user-area a i {
    font-style: 10px;

}

.container .user .user-area img {
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.container .user .user-area {
    position: relative;
}

.container .user .user-area .drop-down-lst {
    list-style: none;
    padding: 12px;
    min-width: 200px;
    border-radius: 5px;
    position: absolute;
    left: -50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 20px rgb(0 0 0 /19%);
    transform: translateY(22px);
    -webkit-transform: translateY(22px);
    -moz-transform: translateY(22px);
    -ms-transform: translateY(22px);
    -o-transform: translateY(22px);
    display: none;
}

.show {
    display: block !important;
}

.container .user .user-area .drop-down-lst li i {
    margin-inline-end: 12px;
}

.container .user .user-area .drop-down-lst li a {
    display: block;
    padding: 8px 15px;
    transition: 100ms;
    -webkit-transition: 100ms;
    -moz-transition: 100ms;
    -ms-transition: 100ms;
    -o-transition: 100ms;
}

.container .user .user-area .drop-down-lst li a:hover {
    background-color: #cfcfcf;
    color: black;
}



/*-----------------------------------------*/
/*-------------side-bar Style----------------*/
/*-----------------------------------------*/
.content-dashboard {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: 70.75px;
}

.side-bar {
    background-color: #e0e0e0aa;
    min-height: calc(100vh - 70.75px);
    overflow-y: auto;
}

.side-bar .user-info {
    text-align: center;
    margin-block: 40px;
}

.side-bar .user-info h5 {
    font-size: 20px;
    font-weight: 700;
    color: #3a3a3a;
    letter-spacing: 1.1px;
}

.side-bar .user-info small {
    font-weight: 500;
    letter-spacing: 1.1px;
    color: #3a3a3a;
    opacity: 0.7;
}

.side-bar .user-info .user-img img {
    height: 70px;
    border: 1px solid #285d92;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}

.side-bar .user-info .user-img {
    position: relative;
    margin-bottom: 10px;
}

.side-bar .user-info .user-img span {
    position: absolute;
    font-size: 14px;
    background-color: #f50057;
    padding: 3px;
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: -1px;
    right: 87px;
}

.side-bar .user-info .data-user {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 12px;

}

.side-bar .user-info .data-user figure {
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.side-bar .user-info .data-user figure img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: center;


    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* ------------------------------------ */
/* ------------------------------------ */

.side-bar .menus>ul>li {
    margin-bottom: 30px;
}

.side-bar .menus>ul>li>a {
    height: 40px;
    border-left: 2px solid #f50057;
    background-image: linear-gradient(to right, rgb(245 0 78 /13%), transparent);
}

.side-bar .menus ul li a {
    display: flex;
    align-items: center;

}

.side-bar .menus ul li a i {
    margin-inline: 12px;
}

.side-bar .menus>ul {
    position: relative;
}

.side-bar .menus .num-span {
    background-color: #1ce2b0;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-style: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;


    position: absolute;
    right: 0;
}



/*-----------------------------------------*/
/*-------------content-body Style----------------*/
/*-----------------------------------------*/
.content-body {
    background-color: #f3f7f9;
    padding: 40px;
}

.top-bar {
    padding: 25px;
    background-color: #FFF;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.top-bar select {
    outline: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
    letter-spacing: 1.2px;
}

.top-bar .link-tap,
.top-bar .link-menu {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top-bar .link-tap {
    font-weight: 400;
    letter-spacing: 1.1px;
}

.top-bar .link-menu {
    font-size: 22px;
}

.content-box {
    margin-top: 20px;
}

.content-box .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-box .head .head-desc h2,
.content-box .head .head-desc h4 {
    font-size: 18px;
    letter-spacing: 1.1px;
    color: #3a3a3a;
}

.content-box .head .head-desc h2 {
    margin-top: 12px;
    font-size: 20px;
}

.content-box .head .button {
    color: #FFF;
    background-color: #00d66e;
    padding: 8px 15px;
    display: inline-block;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.content-box .head .button:hover {
    background-color: #3a3a3a;
}

/* ------------------------------------- */
/* ------------------------------------- */
/* ------------------------------------- */
.cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 25px;
    margin-top: 12px;
}

.card-item {
    color: #FFF;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.card-item::before {
    content: '';
    width: 56%;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.card-item.bg-01 {
    background-color: #03A9F4;
}

.card-item.bg-02 {
    background-color: #7C4DFF;
}

.card-item.bg-03 {
    background-color: #3d5afe;
}

.card-item.bg-01::before {
    background-image: linear-gradient(360deg, #03A9F4, transparent);
}

.card-item.bg-02::before {
    background-image: linear-gradient(360deg, #7C4DFF, transparent);
}

.card-item.bg-03::before {
    background-image: linear-gradient(360deg, #3d5afe, transparent);
}




.card-item a {
    text-decoration: underline;
    color: #FFFFFF;
    font-size: 12px;

}

.card-item ul {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 12px;
}

.card-item ul li {
    font-size: 12px;
    font-weight: 400;
    background-color: #3a3a3a4c;
    border-radius: 15px;
    padding: 4px 8px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;


}

.card-item ul li .stars i {
    color: rgb(210, 210, 8);

}

.card-item .thumb {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    margin-bottom: 40px;
}

.card-item .thumb .image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    border: 3px solid #ffffff64;
}

.card-item .thumb .image img {
    width: 100%;
}

.card-item .thumb .text h2 {
    font-size: 18px;
    letter-spacing: 1.1px;
}

.card-item .thumb .text p {
    font-size: 12px;
    letter-spacing: 1px;
}

.card-item .main-image {
    position: absolute;
    width: 170px;
    top: 60%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    right: -10px;
}








.boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.box {
    padding: 7px;
    background-color: #d4d4d4c3;
    box-shadow: 0 5px 10px rgb(0 0 0/7%);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    position: relative;
}

.box .thumb {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.box .thumb .img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 12px;

    background-position: center;
    object-fit: cover;
    overflow: hidden;
}

.box .thumb .img img {
    width: 100%;
}

.box .thumb .caption h5 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.2px;
}

.box .thumb .caption p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    opacity: 0.7;
    margin-top: 6px;
}

.box .box-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box .box-footer .users-img {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.box .box-footer .users-img figure {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.box .box-footer .users-img figure:nth-child(2),
.box .box-footer .users-img figure:nth-child(3),
.box .box-footer .users-img figure:nth-child(4),
.box .box-footer .users-img figure:nth-child(5),
.box .box-footer .users-img figure:nth-child(6) {
    margin-left: -10px;
}

.box .box-footer .users-img figure img {
    width: 100%;
    object-fit: cover;
}